*{
  background-color: #003c67;
  margin: 0 ;
  padding: 0 ;
  font-family: 'Satisfy', cursive;
  }

label{
  color: white;

}

table{
    margin-left:250px;
    padding: 15px;    
    border-collapse: collapse;
    color: rgb(255, 255, 255);


  }
  
  th, td{
    border: 0.1px solid rgba(255, 255, 255, 0.226) ;
    padding: 10px;
    background-color: #2089d4;
  }

  input{
    border: 0.1px solid ;
    border-radius: 140px;
    border-color:rgb(65, 65, 65) ;
    color: rgb(255, 255, 255);
    width: 250px;
    height: 40px;
    background-color: #2089d4;
    text-align: center;
    cursor:pointer;
  }

  ul {
    list-style-type: none;

    height: 120px;
    overflow: hidden;
    background-color: #005d9f;
  }

  .logo{
    display: flex;
    justify-content: center;
    height: 150px;
    width: 150px;
    background-color: #005d9f;

    
  }

  .objet-center{
    display: flex;
    justify-content: center;
    background-color: #005d9f;
  }

  body{
    margin: 0 auto;
  }



  .send{
    cursor: pointer;
    border-radius: 150px;
    margin: 10px;
    width: 150px;
    height: 50px;
    border: transparent;
    background-color: #005d9f;
    color: white;
    transition: transform 250ms;
  }

  .send:hover{
    transform: scale(110%);
  }

  .centform{
    background-color: red;
  }

.input-margin{
  margin: 15px;
}
.visuel{
  padding: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.creation{
  display: flex;
  flex-direction: column;
  max-width: 350px;
  
  
}

form{
  display: flex;
  flex-direction: row;
  
  
}

.navbar{
  background-color:#005d9f;
  text-decoration: none;
  color:white;
  font-size: 40px;
  display: flex;
text-align: justify;
}

.visuel-histo{
 display: flex;
  justify-content: center;
}

.form-histo{
  display: flex;
text-align: center;
}

.login{
  cursor: pointer;
  border-radius: 150px;
  margin: 10px;
  width: 150px;
  height: 50px;
  border: transparent;
  background-color: #329f00;
  color: white;
  transition: transform 250ms;
}

.logins{
  cursor: pointer;
  border-radius: 150px;
  margin: 10px;
  width: 150px;
  height: 50px;
  border: transparent;
  background-color: #ff9d00;
  color: white;
  transition: transform 250ms;
}

.login:hover .logins:hover{
  transform: scale(110%);
}